.NavButton{
    background-color:rgb(8 145 178);
    box-shadow:0 5px 25px rgba(97,218,250,.5);
    border:none;border-radius:50%;
    color: white;
    font-size:30px;  
    font-weight:700;  
    display:flex;
    justify-content:center;
    align-items:center;
    height: 60px;
    width: 60px;
    z-index: 1;
}
